.root {
  width: calc(100% - 1em);
  height: 30px;
  padding: 0.1em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  z-index: 2;

  .input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5em;
    cursor: pointer;

    .data {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.5em;
      font-size: 0.95em;

      input {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background-color: transparent;
        text-align: center;
        font-size: 0.95em;
        font-family: 'Pretendard', sans-serif;

        &::placeholder {
          color: var(--color-text-dimmed);
        }

        /* firefox - remove arrows */
        -moz-appearance: textfield;

        /* other browsers - remove arrows */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .meridiem {
        padding-top: 2px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.dropdown {
  width: 100%;
  height: 0;
  background-color: var(--color-bg-primary);
  backdrop-filter: saturate(180%) blur(5px);
  display: none;
  position: absolute;
  top: calc(100% + 0.1em);
  border-radius: 10px;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);

  &.show {
    height: 200px;
    display: flex;
    align-items: flex-start;

    .dropdown-column {
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      .dropdown-item {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: var(--color-text-default);
        font-size: 0.95em;
        border-bottom: 1px solid var(--color-light-gray-border);

        &:hover {
          background-color: var(--color-bg-secondary);
        }

        &.selected {
          color: white;
          background-color: var(--color-primary);
        }

        &:last-child {
          border-bottom: none;
        }

        &.hour {
          &:first-child {
            border-top-left-radius: 10px;
          }
          &:last-child {
            border-bottom-left-radius: 10px;
          }
        }

        &.top-right {
          border-top-right-radius: 10px;
        }
      }
    }
  }

  &.datetime {
    width: auto;
    height: 260px;
    right: 0;

    .dropdown-column {
      width: auto;
      min-width: 50px;
      height: 100%;
      padding: 0;
      overflow-y: scroll;

      .dropdown-item {
        height: 30px;
      }
    }
  }
}
