.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .body {
    width: 100%;
    height: calc(100% - 70px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }
}
