.root {
  width: calc(100% - 2em);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5em;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;

    h1 {
      line-height: 1.2;
    }

    .head-wrapper {
      display: flex;
      align-items: center;
      column-gap: 1em;
      row-gap: 1em;
      flex-wrap: wrap;

      .rental-badge {
        padding: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: var(--color-primary);
        cursor: pointer;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        position: relative;

        .rental-tooltip {
          width: max-content;
          padding: 0.5em;
          position: absolute;
          bottom: calc(100% + 0.7em);
          left: 50%;
          transform: translateX(-50%);
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          font-size: 0.6em;
        }
      }

      .delete-button {
        padding: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: var(--color-red);
        cursor: pointer;
        color: white;
        font-size: 1rem;
        font-weight: 600;
      }
    }

    .close {
      padding-top: 0.1em;
      cursor: pointer;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1em;

    .row {
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 1em;

      @media (max-width: 1024px) {
        flex-direction: column;
        row-gap: 1em;
      }

      .item-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;

        .label {
          font-size: 1em;
          font-color: var(--color-text-dimmed);
        }

        .title {
          padding: 0.5em;
          font-size: 1.5rem;
          font-weight: 500;
          background: transparent;
          border: 1px solid var(--color-primary);
          border-radius: 10px;
        }

        .select {
          padding: 0.5em;
          font-size: 1.5rem;
          font-weight: 500;
          background: transparent;
          outline: none;
          appearance: none;
          color: var(--color-text-default);
          border: 1px solid var(--color-primary);
          border-radius: 10px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;

          &:focus {
            outline: none;
          }
        }

        .item {
          display: flex;
          align-items: center;
          column-gap: 0.5em;
        }
      }
    }
  }

  .footer {
    width: 100%;
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    column-gap: 1.5em;

    .button {
      width: 10em;
      height: 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      cursor: pointer;
      color: white;
      font-size: 1em;
      font-weight: 600;

      &.success {
        background-color: var(--color-blue);

        &:disabled {
          background-color: var(--color-blue-dimmed);
          cursor: not-allowed;
        }
      }

      &.cancel {
        background-color: var(--color-red);
      }
    }
  }
}
